<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9374C1B1C1E4CC500F211CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9374C2F1C1E4CC500F211CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9374C3A1C1E4CC500F211CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
